@media (max-width: 1200px)
  .container
    max-width: 860px
  .hotel
    &-slider
      max-width: 500px
      margin-right: 30px
  .swiper
    &-slide
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 200px
    height: 200px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media ( max-width:992px )
  .container, .newsletter-wraper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-top: 10px
    &-slider
      max-width: 100%
    &-grid
      flex-direction: column
      &__slider
        margin-bottom: 30px
    &-right
      display: flex
      flex-direction: row
  .booking
    width: 340px
  .slider
    max-width: 100%
  .map
    width: 340px
  .newsletter
    padding-top: 80px
  .reviews
    padding-top: 30px
    &__title
      margin-top: 10px
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
      &__text
        max-height: 150px
      &__button
        &--pref
          margin-left: 0
          top: 50%
        &--next
          margin-right: 0px
          top: 50%
  .activities
    padding-bottom: 50px
    padding-top: 30px
    &__title
      margin-top: 38px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      max-width: 200px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__title
      &--inline
        margin-left: -50px
    &__input
      &-group
        flex-basis: 49%
    &__logo-link
      width: 104px
      height: 120px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      margin-left: 20px
      grid-column: span 2
    &__additional
      margin-left: -37px
      grid-column: span 2
    &__contact
      &-details
        margin-top: 20px
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__input
      &-group
        flex-basis: 46%
    &__message
      flex-basis: 100%
    &__form
      margin-bottom: 0
      max-width: 535px
    &-bottom
      margin-top: 15px
      &__wrapper
        &-link
          margin-left: 0
      grid-column: 1 / 7
  .modal
    &__wrapper
      flex-wrap: wrap
    &__button
      flex-basis: 100%
      margin-bottom: 20px
@media ( max-width: 767px )
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &-mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        z-index: 99
        width: 100%
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &__visible
        display: block
        overflow-x: scroll
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: 60px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        margin-left: 0
        order: -1
  .slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
    &__width
      width: 100%
  .newsletter
    &-wraper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    padding-bottom: 30px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        &--pref
          left: 50%
          top: 15%
          margin-left: -85px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          top: 15%
          margin-right: -85px
          transform: translate(50%, 0)
      &__text
        max-height: 290px
  .card
    width: 49%
    height: 255px
    &__title
      max-width: 150px
  .footer
    &__input
      &-group
        flex-basis: 100%
  .modal
    &__dialog
      max-width: none
      width: 450px
@media ( max-width: 576px  )
  .container
    max-width: 430px
    width: 88%
  .hotel
    &-slider
      height: 180px
    &-grid
      padding-bottom: 40px
    &-right
      height: 450px
  .map
    margin-bottom: 40px
    height: 173px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-wraper
      max-width: 430px
      width: 88%
    &-title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .activities
    padding-bottom: 40px
    &__title
      margin-top: 13px
  .footer
    padding-top: 70px
    &__title
      &--inline
        margin-left: 0
        margin-right: 0
        flex-basis: 100%
        margin-bottom: 15px
      &--mb-3
        margin-bottom: 16px
    &__form
      max-width: 
      margin-bottom: 20px
    &-wrapper
      grid-template: 1fr
      grid-row-gap: 20px
    &__logo-link
      margin-bottom: 18px
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        display: flex
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
      &-links
        margin-bottom: 10px
    &__additional
      margin-bottom: 10px
      margin-left: 0
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      margin-left: 0
      margin-bottom: 10px
      grid-row: 3
      grid-column: 1
    &__icon
      &-wrapper
        min-width: 25px
    &__item
      font-size: 14px
      line-height: 160%
      &--mb-2
        min-width: 270px
    &__contact
      &-details
        width: 85%
        margin-bottom: 40px
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__info
      display: none
      &--dn
        display: block
    &__input
      &-group
        flex-basis: 100%
    &__message
      flex-basis: 100%
    &-bottom
      grid-column: 1 
      display: flex
      flex-wrap: wrap
      &__text
        margin-bottom: 10px
        flex-basis: 100%
        font-size: 12px
        line-height: 15px
  .modal
    &__dialog
      max-width: none
      width: 100%
      height: 100%
    &__button
      margin-top: 40px
    &__info
      visibility: hidden
      &--hiden
        visibility: visible
        margin-top: -80px
@media ( max-width: 480px  )
  .navbar
    &-top
      padding-top: 25px
      padding-bottom: 25px
    &-bottom
      top: 68px
  .logo
    max-width: 100px
  .hotel
    padding-top: 0
    padding-bottom: 20px
    &-right
      min-height: 442px
      margin-top: -10px
  .slider
    height: 180px
  .hotel
    &__slider
      margin-bottom: 20px
    &-grid
      padding-bottom: 0px
  .newsletter
    padding-top: 55px
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
  .reviews
    padding-top: 28px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 40px
    &-slider
      &__button
        top: 6%
  .activities
    padding-top: 40px
    &__title
      margin-bottom: 37px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .footer
    &__contact
      &-details
        margin-bottom: 26px
    &__input
      &-group
        flex-basis: 100%
    &__message
      margin-bottom: 8px
      flex-basis: 100%
    &__form
      margin-bottom: 5px
      max-width: 280px
    &__info
      &--dn
        width: 100%
        margin-bottom: 20px
    &-bottom
      margin-top: 0
      &__wrapper
        &-link
          margin-bottom: 7px
  .navbar
    &-bottom
      &__visible
        overflow-x: scroll
  .search
    &__input
      width: 90%
      max-width: 340px
  .modal
    &__dialog
      max-width: none
      padding: 33px 50px
